@font-face {
    font-family: Star-wars;
    src: url(./assets/Star-wars.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Star-wars', sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: 0;
}

.logo {
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: #030712;
    color: #f9fafb;
    letter-spacing: 2px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

nav {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4px;
    background-color: rgba(0, 0, 0, 0.9);
}

.tabs {
    font-family: 'Star-wars', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    border: 0;
    border-bottom: 4px solid #9f1239;
    border-top: 4px solid #9f1239;
    color: #f9fafb;
    background-color: #4c0519;
    font-size: large;
    font-weight: bold;
    box-shadow: inset 0px 0px 10px 10px #172554;
    transition-duration: 0.5s;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.tabs:hover{
    border-bottom: 4px solid #0891b2;
    border-top: 4px solid #0891b2;
    background-color: #155e75;
    color: #f43f5e;
    font-size: larger;
    text-shadow: 0px 0px 20px #ebb4bd;
}

.active-tab{
    color: #fda4af;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1919;
    color: #f9fafb;
    position: sticky;
    bottom: 0;
    padding: 10px 0;
}

#content {
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: #020617;
    color: #f9fafb;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.description {
    padding: 20px;
    text-align: center;
    font-size: larger;
}

.headline{
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-top: 150px;
}

.food {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 450px; 
    height: 150px; 
    box-sizing: border-box; 
    cursor: pointer;
}

.food img {
    width: 175px; 
    height: 120px;
    margin-right: 15px;
    border-radius: 15px; 
    object-fit: cover; 
}

.food span {
    font-size: 18px; 
    font-weight: bold;
}

.custom-grid{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-grid{
    grid-template-columns: 1fr;
    gap: 10px;
}